# Pulsar secrets and topic
PULSAR_SERVICE="pulsar+ssl://..."
PULSAR_TOKEN="ey..."
PULSAR_TOPIC = "persistent://tenant/namespace/topic"

# Astra DB secrets
ASTRA_DB_API_ENDPOINT = "https://fac0..."
ASTRA_DB_APPLICATION_TOKEN = "AstraCS:OhPF..."
ASTRA_COLLECTION = "collection"

# Optionally: LangSmith secrets for tracing
#LANGCHAIN_TRACING_V2 = ""
#LANGCHAIN_ENDPOINT = ""
#LANGCHAIN_API_KEY = ""
#LANGCHAIN_PROJECT = ""

# OpenAI secrets
OPENAI_API_KEY = "sk-..."